body {
    min-height: 100vh;
    margin: 0;
}

p {
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 600;
}

#container {
    height: 100%;
    display: flex;
}

#img-block{
    background-image: url(images/wallhaven-k7zp5d_2560x1440.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 40%;
}

#form-block {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;
}

#text-block, #input-block, #button-block {
    flex-basis: calc(100%/3);
    width: 100%;
}

#text-block {
    background-color: #E5E4E2;
}
